
.el-rte label	{
	margin: 0!important;
}


.el-rte.el-fullscreen {
    width: 100%;
    z-index: 99;
	background: #fff;
}


.el-paddinginput input	{
	float: none;
}
.el-paddinginput select	{
	display: inline;
	width: auto;
}